opencv-python
numpy
torch --index-url https://download.pytorch.org/whl/cu130
torchvision --index-url https://download.pytorch.org/whl/cu130
insightface
onnxruntime
bytetracker
lapx
matplotlib
tqdm
scikit-learn